@import "bootstrap-social.css";
@import './pageLayout';
@import "./login";
@import "header";


@team-vertical-align: 17px;

.fixture-container {
  margin-bottom: 3px;
  .fixture {
    display: flex;
    align-items: center;
  }
  .match-date {
    position: relative;
    top: -13px
  }
}

.team {
  display: flex;
  align-items: center;
  img {
    width: auto;
    max-width: 6em;
    height: 6em;
    margin-top: @team-vertical-align;
  }
  .score-column {
    margin-bottom: 0;
    .score-input {
      padding: 0;
      margin-top: @team-vertical-align;
    }
  }
  .team-button-col {
    padding: 0;
  }

  &.home-team {
    img {
      float: right;
    }
  }
}

.match-side {
  width: 47%;
}

.team_button {
  width: 100%;
  height: 3em;
  font-size: 1.3em;
}

.vs {
  text-align: center;
  width: 6%;
}

.bet-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixtures-section {
  padding-bottom: 45px;
  background-color: #F5F5F5;
}