@import "bootstrap-social.css";
@import './pageLayout';
@import "./login";
@import "header";

.fixture-container {
  margin-bottom: 23px;
  .fixture {
    display: flex;
    align-items: center;
  }
}

.team {
  display: flex;
  align-items: center;
  img {
    width: auto;
    max-width: 6em;
    height: 6em;
  }

  &.home-team {
    img {
      float: right;
    }
  }
}

.match-side {
  width: 46%;
}

.team_button {
  width: 100%;
  height: 3em;
  font-size: 1.3em;
}

.vs {
  text-align: center;
  width: 8%;
}

.bet-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixtures-section {
  background-color: #F5F5F5;
}

