.scores-section {
  background: #F5F5F5;
  font-size: 2em;
  .scores-title {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
  .user-score {
    &.first-place {
      background-color: #81D6AC;
    }

    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    .scores-user-name {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
}
